@model IEnumerable<Echri3endy_Web.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron alert alert-info">
    <h1>Bienvenue dans notre site </h1>
    <p >notre site permet la publication des produit et d es commandes en ligne</p>
    
</div>
@foreach (var item in Model)
{
    <div class="panel panel-info">
     <div class="panel panel-heading">
         <h1>
             @Html.DisplayFor(ModelItem => item.categoryNom)
         </h1>
       </div>
    <div class="row panel-body">
        <h5>@Html.DisplayFor(ModelItem => item.categoryDiscription)</h5>

        @foreach(var subItem in item.Produits)
        {

        <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; min-height:390px;">
            <img src="~/Uploads/@subItem.ProduitImager" />
            <h3>@Html.DisplayFor(ModelItem => subItem.ProduitTiter) </h3>
            <h5>@Html.DisplayFor(ModelItem => subItem.ProduitConteni) </h5>
                @Html.ActionLink("Detail", "Details", new { ProduitId = subItem.Id },new { @class ="btn btn-primary"})
        </div>
                }
        </div>
        </div>
}
